<template name="gemSubmit">
    <h1 style="text-align: center;">ADD NEW GEM</h1>
<div class="container"> 
<div class="row"> 

<div class="col-lg-3 pull-left well">
  <div class="thumbnail">
  <img src="">

  </div>
  <a class="btn btn-large btn-success col-lg-offset-2" href="#"><i class="fa fa-cloud-upload"> Upload Picture</i>
  </a>
</div>




<div class="col-lg-8 col-lg-offset-1 pull-right well">
<form class="form-horizontal main">
 <fieldset>

<div class="col-lg-4 col-lg-offset-2">

<div class="form-group control-group">
<label class="control-label" for="item">Item</label> 
<div class="controls">
<input name="item" type="text" value=""/>
</div>
</div>

<div class="form-group control-group">
<label class="control-label" for="price">Price</label> 
<div class="controls">
<input name="price" type="text" value=""/>
</div>
</div>

<div class="form-group control-group">
<label class="control-label" for="originally">Originally</label> 
<div class="controls">
<input name="originally" type="text" value="" />
</div>
</div>

<div class="form-group control-group">
<label class="control-label" for="description">Description</label> 
<div class="controls">
<textarea name="description" type="text"></textarea>
</div>
</div>

<div class="form-group control-group">
  <label class="control-label" for="pictures">pictures</label>
  <div class="controls">
      <input name="pictures" type="text" />
  </div>
</div>

<br>

<div class="form-group control-group"> 
<div class="controls">
<input type="submit" value="Submit" class="btn btn-primary col-lg-offset-3"/>
</div>
</div>

</div>

 <div class="col-lg-4 col-lg-offset-1">

<div class="form-group control-group">
<label class="control-label" for="height">Height</label> 
<div class="controls">
<input name="height" type="text" value="" />
</div>
</div>

<div class="form-group control-group">
<label class="control-label" for="width">Width</label> 
<div class="controls">
<input name="width" type="text" value="" />
</div>
</div>

<div class="form-group control-group">
<label class="control-label" for="dates">Sale Date</label> 
<div class="controls">
<input name="dates" type="text" value="" id ="my-datepicker"/>
</div>
</div>


<div class="form-group control-group">
<label class="control-label" for="metal">Metal</label> 
<div class="controls">
<textarea name="metal" type="text"></textarea>
</div>
</div>

<br>

<div class="form-group control-group"> 
<div class="controls">
<input type="submit" value="Cancel" class="btn cancel col-lg-offset-3"/> 
</div>
</div>

</div>

 </fieldset>
</form>
 
  </div>
</div>
</div>
</template>




