<template name="gemItem">

	 <tr class="gemItem">
        <td><a href= "{{pathFor 'gemPage'}}"><img style="height: 100px" src="{{pictures}}"/></a></td>
		<td><a href= "{{pathFor 'gemPage'}}">{{_id}}</a></td>
     	<td><a href= "{{pathFor 'gemPage'}}">{{item}}</a></td>
 		<td><a href= "{{pathFor 'gemPage'}}">{{price}}</a></td>
 		<td><a href= "{{pathFor 'gemPage'}}">{{originally}}</a></td>
 		<td><a href= "{{pathFor 'gemPage'}}">{{description}}</a></td>
 		<td><a href= "{{pathFor 'gemPage'}}">{{height}}</a></td>
 		<td><a href= "{{pathFor 'gemPage'}}">{{width}}</a></td>
 		<td><a href= "{{pathFor 'gemPage'}}">{{metal}}</a></td>
 		<td><a href= "{{pathFor 'gemPage'}}">{{dates}}</a></td>
     </tr>

</template>	